<h1>Vote</h1>

<form>
  <div class="form-group">
    <label for="vote">Rate this product 1 to 5</label>
    {{#x-select action="saveVoteA"}}
    <option> </option>
      {{#x-option value=1}}1{{/x-option}}
      {{#x-option value=2}}2{{/x-option}}
      {{#x-option value=3}}3{{/x-option}}
      {{#x-option value=4}}4{{/x-option}}
      {{#x-option value=5}}5{{/x-option}}
    {{/x-select}}
  </div>
</form>
