<div class="container">
  <div class="table">
    <h4>Total Cost of Items in cart:</h4>
    <tbody>
        <tr><td>${{add-cost shoppingCart.items shoppingCart.items.length}}</td></tr>
    </tbody>
  </div>
</div>
