<h1>HI this is in store hbs</h1>

{{#each model.products as |product|}}
  {{product-tile product=product saveCommentD='saveCommentE'}}
{{/each}}

{{new-product  saveB='saveC'}}

{{display-cart}}

{{total-cost}}
